<header class="header">
  <div class="content-wrapper">
    <h1>Tyson Williams</h1>
    <h2>Web Developer</h2>
  </div>
</header>

<main>
  <section class="tagline">
    <div class="content-wrapper">
      <header>
        <h3>About Me.</h3>
      </header>
      <p>Passionate about <em>creating</em>, <em>coding</em>, <em>tech</em>, and <em>software</em>.</p>
      <p>Enjoy <em>building neat things</em> and working with <em>great people and ideas</em>.</p>
    </div>
  </section>

  <section class="skills">
    <div class="content-wrapper">
      <header>
        <h3>My skills.</h3>
        <p>I enjoy writing <strong>front-end</strong> code with these technologies<p>
      </header>
      <ul>
        <li>JavaScript</li>
        <li>React</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
      </ul>
      <p><strong>Back-end</strong> code using</p>
      <ul>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>MongoDB</li>
        <li>NoSQL</li>
      </ul>
      <p>And these <strong>tools</strong></p>
      <ul>
        <li>Git</li>
        <li>GitHub</li>
        <li>Bitbucket</li>
        <li>TDD &amp; Jest</li>
        <li>ChromeDevTools</li>
      </ul>
    </div>
  </section>
</main>

<section class="contact">
  <div class="content-wrapper">
    <header>
      <h3>Drop me a line.</h3>
    </header>
    <p>via <a href="mailto:tyson.j.williams@gmail.com" target="_blank">Email</a></p>
    <p>via <a href="https://www.linkedin.com/in/tysonwilliams" target="_blank"><span>LinkedIn</span></a></p>
    <p>via <a href="https://twitter.com/TysonSuccess" target="_blank"><span>Twitter</span></a></p>
    <p id="github">also, check out my <a href="https://github.com/tysonwilliams" target="_blank"><span>GitHub</span></a></p>
    <!--<p>via <a href="http://localhost:7070/#/contact"<strong>Right here</strong></a>!</p>-->
  </div>
</section>

<footer>
  <div class="content-wrapper">
    <p>Designed by Tyson Williams</p>
  </div>
</footer>