<div class="header">
    <div class="content-wrapper">
      <h1>Tyson Williams</h1>
      <h2>Web Developer</h2>
    </div>
  </div>

  <div class="tagline">
    <div class="content-wrapper">
      <h3>Learn More About Me.</h3>
      <p>Passionate about creating, learning, and coding.</p>
      <p>Enjoy building neat things and working with great people.</p>
    </div>
  </div>

  <div class="skills">
    <div class="content-wrapper">
      <h3>My skills.</h3>
      <p>I enjoy writing front-end code with these technologies<p>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>AngularJS</li>
      </ul>
      <p>Back-end code using</p>
      <ul>
        <li>Node.js</li>
        <li>Express.js</li>
        <li>MongoDB / Mongoose</li>
        <!--<li>NoSQL</li>-->
      </ul>
      <p>And these tools</p>
      <ul>
        <li>Git</li>
        <li>GitHub</li>
        <li>npm / yarn</li>
        <li>ChromeDevTools</li>
      </ul>
    </div>
  </div>

  <div class="contact">
    <div class="content-wrapper">
      <h3>Drop me a line.</h3>
      <p>via <a href="mailto:tyson.j.williams@gmail.com" target="_blank">email</a></p>
      <p>via <a href="https://www.linkedin.com/in/tysonwilliams" target="_blank"><span>LinkedIn</span></a></p>
      <p>via <a href="https://twitter.com/TysonSuccess" target="_blank"><span>Twitter</span></a></p>
      <p>via <a href="https://github.com/tysonwilliams" target="_blank"><span>GitHub</span></a></p>
    </div>
  </div>

  <div class="footer">
    <div class="content-wrapper">
      <p>Designed by Tyson Williams</p>
    </div>
  </div>